# use glob syntax
syntax: glob

__pycache__/
*.py[cod]
*.sqlite[3]
.idea
*.elc


*.egg-info/
dist/


# Temporary files (vim backups)
*.swp
*~

docs/_build/
ip-link/captures/
ip-link/data/
captures/
data/
